body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #050b1e;
  color: #fff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background: #020617;
}

.logo {
  height: 60px;
}

nav a {
  color: gold;
  margin-left: 20px;
  text-decoration: none;
  font-weight: 500;
}

.hero {
  padding: 120px 20px;
  text-align: center;
  background: radial-gradient(circle, #0b1c3d, #020617);
}

.hero.small {
  padding: 80px 20px;
}

.btn {
  background: gold;
  color: #000;
  padding: 14px 30px;
  border-radius: 30px;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
  font-weight: bold;
}

.section {
  padding: 80px 20px;
  text-align: center;
}

.section.dark {
  background: #020617;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  max-width: 1000px;
  margin: auto;
}

.card {
  background: #0b1c3d;
  padding: 30px;
  border-radius: 12px;
  border: 1px solid gold;
}

.career-form {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.career-form input,
.career-form select,
.career-form textarea {
  padding: 14px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: none;
}

footer {
  text-align: center;
  padding: 20px;
  background: #020617;
  color: #aaa;
}
